
.ng-valid[required],.ng-valid.required{
  border-left: 5px solid #41A947 /*green*/
}
.ng-invalid:not(form){
  border-left: 5px solid #a94442 !important /*red*/
}

input[type=text], select {
  width: 50%;
  padding: 10px;
  margin: 5px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}


.alert-danger{
  margin-left: 28%;
  width: 50%;
}

button{
  margin-right: 5px;
}
