<!--The content below is only a placeholder and can be replaced.-->
<h5 class="centered">
  Welcome to Users Dashboard
</h5>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="/" routerLinkActive="active">User Dashboard</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a routerLink="/user" routerLinkActive="active">Add User</a></li>
    </ul>

  </div>
</nav>

<router-outlet></router-outlet>


<footer>
    <div class="container">
      <span>
        A learning project.
      </span>
    </div>
  </footer>
